// Breakpoints
$small-breakpoint: 500px;
$large-breakpoint: 501px;

// Colours
$brand: #373151;
$grey-2: #4D4D4D;
$grey-1: #F4F1F1;
$alert: #A72326;
$background: #FFFFFF;

// Font sizes
$primary-small-font-size: 26px;
$primary-large-font-size: 30px;

$secondary-small-font-size: 20px;
$secondary-large-font-size: 22px;

$tertiary-small-font-size: 18px;
$tertiary-large-font-size: 18px;

// Line heights 
$primary-line-height: 1.25rem;
$secondary-line-height: 1.35rem;
$tertiary-line-height: 1.5rem;

//Font stack
$font-stack: Veranda, Arial, sans-serif;

// Border weights
$small-border-weight: 3px;
$large-border-weight: 5px;

// Image sizes
$small-image-size: 60px;
$large-image-size: 100px;

// Spacing
$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 15px;
$spacing-xlarge: 20px;